CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/nutsboard/pistachio-lite/mx6q_4x_mt41k256_2g.cfg,MX6Q,ANDROID_SUPPORT"
CONFIG_ARM=y
CONFIG_TARGET_PISTACHIO_LITE=y
CONFIG_SYS_MALLOC_F=y
CONFIG_SYS_MALLOC_F_LEN=0x400
CONFIG_DM=y
CONFIG_DM_THERMAL=y
